:root {
  --navbar-height: 56px;
}

.main {
  display: grid;
  grid-template-columns: 2fr 0.75fr;
  /* gap: 20px; */
}

.right {
  padding: 15px;
}

#network {
  height: calc(100vh - (var(--navbar-height) /* + 1px * 2 + 1px*/));
  border: 1px solid lightgray;
  /* margin: 1px; */
  /* cursor: pointer; */
  background-color: #f9fafc; // Blanc cassé
  background-color: #f4f4f9; // Gris très clair
  background-color: #eef7ff; // Bleu pâle
  background-color: #faf5e6; // Beige doux
}

.popover {
  max-width: 250px;
}

#editNodePopover {
  width: 478px;
  max-width: 478px;
}

#editNodePopover .popover-body {
  display: flex;
  gap: 20px;
}

.popover-body .form-group {
  margin-bottom: 0.5rem;
}

.popover-header .btn-close {
  width: 0.4em;
  height: 0.4em;
  position: relative;
  right: -5px;
}

#dijekstra-result {
  font-size: 1.5em;
  margin: 10px 10px 0px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  span {
    color: green;
  }
}